# DATABASE CONFIGURATION
# Options: postgres, better-sqlite3
DB_TYPE=better-sqlite3
DB_HOST=localhost
DB_PORT=5432
DB_USER=proscient
DB_PASSWORD=proscient_secret

# AI SERVICE CONFIGURATION (Cerebras Cloud SDK)
CEREBRAS_API_KEY=csk-95xxhwn38ktf3wje9tv3f8kmrn2pmktk68yh2j3m55v6tfff
